body {

    margin: 0;
    padding: 0;
    background: linear-gradient(95deg, #00FFFF, #FF00FF);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;

}

body:hover {
    background: #808080;
}
img {
    border-radius: 50%;
    position: absolute;
   top: 5%;
   left: 50%;
   transform: translateX(-50%);
   
}
h1 {
    top:30%;
    left: 50%;
    font-family: arial;
    position: absolute;
    transform: translate(-50%,-50%);
}
p{
    top:50%;
    left: 50%;
    font-family: arial;
    position: absolute;
    transform: translate(-50%,-50%);
}
ul {

    top:60%;
    left: 50%;
    font-family: arial;
    position: absolute;
    transform: translate(-50%,-50%);
    display: flex;
    list-style: none;
}

.sns-btn li {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;

}


